#container {
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     font-size: 2rem;
     font-weight: bold;

}

button {
     font-size: 1.5rem;
     padding: 10px 15px;
     border-radius: 10px;
     border: none;
     background-color: rgb(96, 96, 244);
     cursor: pointer;
     color: aliceblue;
     font-weight: bold;
}

button:hover {
     background-color: rgb(17, 17, 254);
}

button:active {
     background-color: rgb(17, 17, 254);
}


input {
     font-size: 2rem;
     width: 150px;
     text-align: center;
     font-weight: bold;
}

#diceResult{
     margin: 25px;

}

#diceImage img{
     width: 150px;
     height: 150px;
     overflow: hidden;
     margin: 5px;

}