@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;400;500;600;700&display=swap');


:root {
     --primary-color: #6366F1;
     --accent-color: #3f83f8;
     --text-color: #333333;
     --link-color: #2563eb;
     --background-color: #ffffff;
     --light-gray: #f0f0f0;
     --gray: #808080;
     --dark-gray: #555;
}

* {
     margin: 0;
     padding: 0;
     font-family: 'Inter', sans-serif;
     text-decoration: none;
}

body {
     height: 100vh;
     text-align: center;
     background-color: var(--background-color);
     padding: 0.1rem;
}

/* .header {
     border: 1px solid;
} */

.header-content {
     max-width: 1280px;
     padding: 1rem;
     display: flex;
     margin: 0 auto;
     align-items: center;
     justify-content: space-between;

}

.logo {
     display: flex;
     align-items: center;
     font-size: 2rem;
     font-weight: bold;
     color: var(--text-color);
     text-decoration: none;
     gap: 0.7rem;

}

.logo-icon {

     height: 5.8rem;
     width: 2rem;
}

.logo-text {
     font-size: 2rem;
}

.nav {
     display: none;
     gap: 1.5rem;
}

@media screen and (min-width:815px) {

     .nav {
          display: flex;
     }

}

.nav-link {

     color: #626c7e;
     font-size: 1.125rem;
     font-weight: 600;
     transform: color 0.1s;
}

.nav-link:hover {
     color: var(--link-color);
}


.contact-button {
     display: none;
     background-color: var(--primary-color);
     border-radius: 0.375rem;
     border: none;
     color: var(--background-color);
     padding: 0.75rem 1.5rem;
     transform: all 0.1s;
     font-size: 1rem;
     font-weight: 600;

}

@media screen and (min-width:815px) {

     .contact-button {
          display: flex;
     }

}

.contact-button:hover {
     background-color: var(--link-color);
}

.menu-button {
     border: none;
     display: none;
     border-radius: 0.375rem;
     color: var(--background-color);
     font-size: 1rem;
     font-weight: 600;
     padding: 0.5rem 0.7rem;

}


@media screen and (max-width:815px) {
     .menu-button {
          display: block;
     }
}


.menu-icon {

     height: 1.5rem;
     width: 1.5rem;
}


.main-section {
     max-width: 1280px;
     display: flex;
     flex-direction: column;
     gap: 2rem;
     padding: 0.6rem;
     align-items: center;
     margin: 0 auto;
}

.content-left {
     text-align: center;
     animation: slideFromleft 1s ease forwards;
}

@keyframes slideFromleft {
     0% {
          opacity: 0;
          transform: translateX(-100%);
     }

     100% {
          opacity: 1;
          transform: translateX(0);
     }

}

.label {
     font-size: 1.15rem;
     font-weight: 600;
     color: var(--primary-color);

}

.title {
     font-size: 2.3rem;
     color: var(--text-color);
     padding: 1rem;
}

.description {
     font-size: 1.13rem;
     color: var(--gray);
}

.button-group {

     display: flex;
     gap: 2rem;
     padding: 1rem;
     margin-top: 1rem;
     align-items: center;

     justify-content: center;

}

.start-button,
.tour-button {

     background-color: var(--primary-color);
     border-radius: 0.375rem;
     border: none;
     color: var(--background-color);
     padding: 0.75rem 1.5rem;
     transform: all 0.1s;
     font-size: 1rem;
     font-weight: 600;
}

.tour-button {
     background-color: var(--dark-gray);
}

.start-button:hover {
     background-color: var(--link-color);
}

.tour-button:hover {
     background-color: var(--gray);
}

.content-right {
     display: flex;
     align-items: center;
     justify-content: center;

}

.image-container {
     overflow: hidden;
     border-radius: 1.2rem;
     box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
     height: 53vh;
}

.image-section {
     width: 100%;
     height: 100%;
}

@media screen and (min-width:815px) {

     .main-section {
          flex-direction: row;
     }

     .content-left {
          max-width: 50%;
          text-align: left;

     }

     .title {
          padding-left: 0;
          font-size: 4rem;
          margin-top: 1rem;
          margin-bottom: 1rem;

     }

     .button-group {
          justify-content: start;
          padding-left: 0;

     }

     .label {
          font-size: 1rem;
     }

     .image-container {
          height: 65vh;
          margin-left: 5rem;
     }

     .description {
          font-size: 1rem;
          color: var(--dark-gray);

     }
}


.company-container {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     margin-top: 3rem;
     animation: slideFromleft 1s ease forwards;

}

.company-title {
     font-size: 2.2rem;
}


.company-grid {
     display: grid;
     grid-template-columns: repeat(2, 1fr);
     gap: 3.6rem;
     padding: 1.8rem 2.5rem;
     background-color: var(--light-gray);
     border-radius: 1rem;
     border: none;
     margin-top: 2rem;
     margin-bottom: 2.5rem;
}

.campany-log {
     font-size: 1rem;
     font-weight: 500;
     color: var(--gray);
     display: flex;
     gap: 0.5rem;

}

.svg-img {
     height: 1.3rem;
}

.logo-txt {
     color: var(--gray);
     font-size: 1rem;
     text-align: center;
     align-self: center;
}

@media screen and (min-width:660px) {

     .company-grid {
          grid-template-columns: repeat(4, 1fr);
     }
}

.feature-contanier {
     background-color: var(--light-gray);
     padding: 2.5rem 0;
}

.feature-content {
     max-width: 800px;
     margin: 0 auto;
     padding: 0 2rem;

}

.main-info {
     display: flex;
     flex-direction: column;
     gap: 1.2rem;
}

.main-title {
     font-size: 2.25rem;
     font-weight: 800;
}

.main-description {
     color: var(--gray);
     font-size: 1rem;
}

.card-grid {
     display: grid;
     gap: 2rem;

     grid-template-columns: repeat(2, 1fr);
     margin-top: 1.3rem;
}

.icon-container {
     background-color: var(--background-color);
     height: 3rem;
     width: 3rem;
     border-radius: 50%;
     justify-content: center;
     align-items: center;
     display: flex;
}

.feature-svg {
     width: 1.5rem;
     height: 1.5rem;
}

.featur-card {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     /* background-color: #90a9df; */
     padding: 2rem;
     border-radius: 0.6rem;
     gap: 1rem;
}

.featue-info {
     gap: 1rem;
}

.featur-title {
     color: white;
     font-weight: bolder;
     font-size: 1.3rem;
}

.feature-description {
     color: white;
}

.featur-card:nth-child(1) {
     background-color: #4a90e2;
}

.featur-card:nth-child(2) {
     background-color: #ff6289;
}

.featur-card:nth-child(3) {
     background-color: #fcbf58;
}

.featur-card:nth-child(4) {
     background-color: #44bfc3;
}

.featur-card:nth-child(5) {
     background-color: #77b05d;
}

.featur-card:nth-child(6) {
     background-color: #7d78b1;
}

@media screen and (max-width:768px) {
     .card-grid {
          grid-template-columns: repeat(1, 1fr);
     }
}


.testimonial-container {
     background-color: var(--background-color);
     padding: 2rem;
     margin: 0 auto;
     max-width: 1400px;

}


.testimonial-content {

     display: flex;
     flex-direction: column;
     gap: 1.2rem;
}

.testi-title {
     font-size: 1.8rem;
     font-weight: bold;
}

.testimonial-grid {
     display: grid;
     grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
     grid-gap: 2rem;

}


.testimonial-card {
     display: flex;
     flex-direction: column;
     border: 1px solid rgb(193, 189, 189);
     border-radius: 0.7rem;
     box-shadow: 0 2px 4px rgba(0, 0, 0, 1);
     padding: 1rem;
     gap: 1rem;
     transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.testimonial-card:hover {
     transform: scale(1.05);
     box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
     border: 1px solid blue;
}

.testimonial-avatar img {
     height: 5rem;
     width: 5rem;
}

.testmonial-text {
     font-size: 0.875rem;
}

.testi-h3 {
     font-size: 1rem;
     color: var(--primary-color);
}

.tesi-occupation {
     font-size: 0.875rem;
     color: var(--gray);
}

.testmonial-text {
     color: rgb(70, 69, 69);
}

.newletter-container {
     background-color: var(--background-color);

     height: 40vh;
     max-width: 1280px;
     margin: 0 auto;

}

.newletter-content {
     display: flex;
     flex-direction: row;
     background-color: var(--light-gray);
     border-radius: 8px;
     overflow: hidden;
     height: 100%;
}

.news-left {
     width: 50%;
     height: 100%;
     display: none;
     position: relative;
}

.news-left img {

     inset: 0;
     position: absolute;
     height: 100%;
     width: 100%;
     object-fit: cover;
     object-position: center;

}

@media screen and (min-width:640px) {
     .news-left {
          display: block;
          width: 50%;
     }

     .news-right {
          width: 50%;
     }

     .newletter-container {
          padding: 2rem;
     }
}

.news-right {
     display: flex;
     flex-direction: column;
     gap: 1rem;
     padding: 3.5rem;
     justify-content: center;
     align-items: flex-start;

}



.news-right h2 {
     font-size: 1.8rem;
     font-weight: bold;

     color: var(--primary-color);

}

.news-right p {
     margin-top: -0.8rem;
     margin-left: 0.6rem;
     color: var(--gray);

}


.new-form {
     padding: 0 3rem;
     display: flex;

     margin-bottom: 1rem;
     margin-left: -2.4rem;
     gap: 0.6rem;
}


.news-email {
     background-color: var(--background-color);
     width: 100%;
     color: #333;
     outline: none;
     border: 1px solid #ccc;
     border-radius: 4px;
     padding: 0.5rem 0.75rem;

}

.news-email:focus {
     border-color: var(--primary-color);
     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.news-send-button {
     background-color: var(--primary-color);
     color: var(--background-color);
     border: none;
     border-radius: 0.25rem;
     padding: 0.5rem 1rem;
}

.news-send-button:hover {
     border-color: var(--link-color);

}


.privacy-policy {
     width: 100%;
     margin-left: -1rem;
     padding: 0 2rem;
     text-align: left;
     font-size: 0.8rem;
     color: var(--text-color);
}

.news-link {
     text-decoration: underline;
     color: var(--link-color);
}

@media screen and (min-width:640px) {
     .news-right h2 {
          font-size: 2.6rem;

     }
}

.footer-container {
     background-color: var(--background-color);
     margin: 0 auto;
     padding: 1rem 2.4rem;
     display: flex;
     flex-direction: column;
     max-width: 1280px;
}

.footer {
     display: flex;
     justify-content: space-between;
     align-items: flex-start;
     gap: 3rem;
     max-width: 1280px;
     padding: 1.3rem 2.4rem;

     padding-right: 2rem;

}

.footer-top {
     width: 34%;
     display: flex;
     flex-direction: column;
     gap: -2rem;
}

.comp-logo {
     display: flex;
     flex-direction: column;
     align-items: flex-start;
     gap: 1rem;
}

.logo-link {
     display: flex;
     align-items: center;
     justify-content: flex-start;
     gap: 0.8rem;
     margin-bottom: -1.5rem;
     font-size: 1.5rem;
     font-weight: bold;
     color: var(--text-color);
}

.filler-text {
     font-size: 1rem;
     color: var(--dark-gray);
}

.logo-svg {
     width: 2rem;
     height: 6rem;
}

.social-svg {
     width: 1.5rem;
     height: 1.5rem;
}

.social {
     gap: 0.7rem;
     display: flex;
}


.footer-grid {
     display: grid;
     width: 58%;
     grid-template-columns: repeat(4, 1fr);
     grid-gap: 7rem;
     padding: 2rem 0rem;

}

.footer-grid-heading {
     font-size: 1.05rem;
     font-weight: bold;
     color: var(--text-color);
     margin-bottom: 1rem;

}

ul {
     list-style-type: none;
}

.footer-link {
     font-size: 0.875rem;
     color: var(--dark-gray);

}

.footer-link-list {
     display: flex;
     flex-direction: column;
     gap: 1.6rem;
}

.copyright {

     color: var(--gray);
     font-size: 0.75rem;
     padding-bottom: 2rem;
     margin-top: 2rem;
     padding-top: 1rem;
     border-top: 1px solid var(--gray);
}

@media screen and (max-width:1080px) {
     .footer {
          flex-direction: column;
          align-items: center;

     }

     .footer-top {
          align-items: center;
          padding: 2rem;
     }

     .footer-grid {
          align-self: center;
          justify-content: space-evenly;
     }
}

@media screen and (max-width:900px) {

     .footer-top {
          padding: 2rem;
     }

     .footer-grid {
          grid-template-columns: repeat(2, 1fr);
          align-self: center;
        
     }
}