body{
  padding: 50px 0px 50px 0px;
  margin: auto;
  margin-top: 0;
  margin-bottom: 0;
width: 100%vw;
height: calc(100%-100px);
align-content: center;
}

hr{
  width: 100%;
}
section{
  width: 100%;
}

