*{
    margin: 0;
    padding: 0;
 box-sizing: border-box;   
}

body{
    height: 100vh;
    width: 100vw;
}

.container
{
    height: 100%;
    width: 100%;
    background-color: rgb(52, 49, 49);

    display: grid ;
    padding: 4rem;
    /* row-gap: 1rem; */
/* column-gap: 1rem; */

gap: 1rem;
/* grid-template-rows: 100px 100px; */
    grid-template-columns: repeat(1,1fr);
    /* grid-template-columns: 100px 100px 100px; */
    grid-template-rows: repeat(6,1fr);
}

.item
{
    background-color: rgb(22, 215, 118);
    border: black solid 5px;

    color: rgb(244, 246, 247);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2;
} 



@media(min-width:768px)
{
    .container{
           grid-template-rows: repeat(4,1fr);
    /* grid-template-columns: 100px 100px 100px; */
    grid-template-columns: repeat(3,1fr);
    }
.header,.footer{
    grid-column-start: 1;
    grid-column-end: 4;
}

.sidebar{
    grid-row-start: 2;
    grid-row-end: 4;
}

.content1{
    grid-column-start: 2;
    grid-column-end: 4;
}

}