* {
     box-sizing: border-box;
}

body{
     background: radial-gradient(circle at center, rgb(75, 139, 228), rgb(243, 243, 247));
    
}

#countLabel {
     display: block;
     text-align: center;
     font-size: 10rem;
     font-family: Arial, Helvetica, sans-serif;
}

#btnContainer {
display: flex;
     text-align: center;
     justify-content: center;
     gap: 3rem;
}


.buttons{
     padding: 10px 20px;
     font-size: 1.5rem;
     color: rgb(255, 247, 247);
     background-color: rgb(20, 155, 18);
     border-radius: 10px;
     border: none;
     box-shadow: 1px 4px 8px rgb(75, 74, 74);
    cursor: pointer;
    transition: background-color 0.25;

}

.buttons:hover{
     scale: 1.03;
     transition: 0.4s;
      color: white;
     background-color: rgb(14, 129, 10);
}
/* #increaseBtn
#resetBtn
#decreaseBtn */