body {
     margin: 0;
     background: hsl(354, 35%, 58%);
     background-image: url(./resdource/img.png);
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     background-attachment: fixed;
}

#heading {
     font-size: 5rem;
     font-family: fantasy;
     font-weight: 10;
     color: hsl(49, 73%, 69%);
     text-shadow: 2px 4px 6px hsla(0, 1%, 24%, 0.5);
     margin: 1rem 7rem;

}

#container {
     width: 20em;
     height: 10em;

     position: fixed;
     background-color: hsl(355, 40%, 65%);

     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;

     margin: 2rem 8rem;
     padding: 0.5em;

     border-radius: 1.8rem;
     border: 3px solid hsla(2, 47%, 38%, 0.71);

     box-shadow: 0px 2px 8px hsla(0, 1%, 24%, 0.5);

}

#display {
     font-size: 3.5em;
     font-weight: bolder;
     font-family: monospace;
     margin: -1rem 0 2rem 0;
     text-shadow: 2px 4px 6px hsla(0, 1%, 24%, 0.5);
     color: hsl(50, 71%, 75%);
}


.controls {
     display: flex;
     flex-direction: row;
     gap: 0.7rem;
}

.controls button {
     font-size: 1.3rem;
color: hsl(240, 1%, 90%);
     font-weight: bold;
     padding: 8px 15px;
     min-width: 85px;
     border: none;
     border-radius: 10px;
     cursor: pointer;
     transition: background-color 0.4s ease;

}

#startBtn {
     background-color: hsl(160, 32%, 65%);
}

#startBtn:hover {
     background-color: hsl(160, 32%, 55%);
}


#stopBtn {
     background-color: hsl(5, 47%, 50%);
}

#stopBtn:hover {
     background-color: hsl(5, 47%, 40%);
}


#resetBtn {
     background-color: hsl(213, 36%, 60%);
}

#resetBtn:hover {
     background-color: hsl(213, 36%, 50%);
}